.App {
  text-align: center;
  padding: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #e4e4e4;
  background-color: #1b1b1d;
  height: 100vh;
}

.App-header h1 {
  color: #61dafb;
  margin-bottom: 1rem;
}
